Header{
    background:url("./Images/Homepage.jpg" )center no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    max-width: 100%;
    text-align: left;
    height:500px;
    overflow: hidden;
}
/* nav{
    height: 75px;
    /* padding: 10px; */
